<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (code) { %><meta name="game" content=<%= code%>><% } %>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/forms.css">
    <title>Othello</title>
    <script defer src="/js/FancyTextInput.js"></script>
    <script defer src="/js/firebase.js"></script>
    <script defer src="/js/app.js"></script>
</head>
<body>
    <noscript>Sorry. This game requires Javascript to run.</noscript>
    <div id="app">
        <!-- Game screen -->
        <div v-if="hasGame" id="game">
            <button @click="leave">Leave</button>
            <ul id="board">
                <li data-tile @click="place" v-for="tile in elements">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <circle class="piece" :fill="tile.state"></circle>
                    </svg>
                </li>
            </ul>
            <div id="stats">
                Points
                <div>Light: {{ points.light }}</div>
                <div>Dark: {{ points.dark }}</div>
            </div>
        </div>
        <!-- Welcome screen -->
        <div id="menu" v-else>
            <fancy-input label="Game code" name="code"></fancy-input>
            <!--<span class="field">
                <input type="text" name="code" id="code" v-model="gameCode">
                <label for="code">Game code</label>
            </span>-->
            <div>
                <button id="joinGame" @click="join">Join</button>
                <button id="spectateGame" @click="spectate">Spectate</button>
            </div>
            <button id="newGame" @click="create">Create new game</button>
        </div>
    </div>
</body>
</html>