@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*
html, body, [app] {
    margin: 0;
    width: 100%;
    height: 100%;
}

[app] {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}*/

form {
    font: 14px/14px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
    position: relative;
    box-sizing: border-box;
}

.field > input[type="number"], .field > input[type="text"],
.field > input[type="email"], .field > input[type="password"] {
    display: inline-block;
    border: 0;
    border-bottom: 2px solid lightgray;
    font-size: 14px;
    outline: none;
    padding: 20px 0 5px;
    transition: border-bottom-color .2s ease;
}

.field > input[type="number"]:focus, .field > input[type="text"]:focus,
.field > input[type="email"]:focus, .field > input[type="password"]:focus {
    border-bottom-color: #000;
}

input[type="submit"] {
    margin: 5px;
    border: 1px solid #8e9aff;
    background: #4285F4;
    color: white;
    padding: 10px;
}

.field > label {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    color: lightgray;
    cursor: text;
    transition: transform .2s ease, font-size .2s ease, color .2s ease;
}

.field > input:focus + label,
.field > input[value=""] + label,
.field > input.has-text + label {
    font-size: 12px;
    transform: translateY(-20px);
    color: #000;
}

form .error {
    color: red;
    border-color: red;
}

form.first-step {
    display: flex;
    flex-direction: column;
}

.field {
    position: relative;
    display: inline-block;
    margin: 5px;
}