@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

html {
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif
}

#app {
    --const: calc(30vw * (1/8));
    display: flex;
    align-content: center;
}

#board {
    opacity: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    background: #004000;
    padding: 2px;
    width: calc(var(--const) * 8 + 2px * 8);
    height: calc(var(--const) * 8 + 2px * 8);
    transition: opacity .3s ease-out;
}

#board.active {
    opacity: 1;
}

#game {
    width: 100%;
    display: flex;
    align-content: center;
}

[data-tile] {
    display: inline-block;
    background:blue;
    margin: 1px;
    flex-grow: 1;
    height: var(--const);
    width: var(--const);
    background: green;
}

[data-tile] > svg {
    width: var(--const);
    height: var(--const);
}

.piece {
    cx: calc(var(--const) * (1/2));
    cy: calc(var(--const) * (1/2));
    r:  calc(var(--const) * .48);
}

#menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

button, .btn {
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    background: #f5f5f5;
    border: 1px solid #bbb;
    border-radius: 2px;
    color: #000;
}

button:hover, .btn:hover {
    cursor: pointer;
}