<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./css/forms.css">
    <script src="js/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
</head>
<body>
<div app>
    <form class="first-step" @submit="section" novalidate>
        <div class="field" v-if="step === 0">
            <input type="email" name="email" id="email" v-model="email" @change="reset">
            <label for="email">Email</label>
            <div class="error" v-show="eError">{{eError.message}}</div>
        </div>
        <div class="field">
            <input type="password" name="pass" id="pass" v-model="pass" @change="reset">
            <label for="pass">Password</label>
        </div>
        <input v-if="login" type="submit" value="login">
        <input v-else type="submit" value="Sign up">
    </form>
    <div v-if="login">Don't have a account? <a href="./signup.html" @click="changeLoginState">Sign up</a></div>
    <div v-else>Already have a account? <a href="./login.html" @click="changeLoginState">login</a></div>
</div>
<script src="./js/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCvQsCk3lzrl10mA-Eok-zzHClQWy4rEkY",
        authDomain: "my-awesome-othello-project.firebaseapp.com",
        databaseURL: "https://my-awesome-othello-project.firebaseio.com",
        projectId: "my-awesome-othello-project",
        storageBucket: "my-awesome-othello-project.appspot.com",
        messagingSenderId: "989403460699",
    }
    firebase.initializeApp(config)
</script>
<script src="./js/login.js"></script>
</body>
</html>