<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="./css/forms.css">
    <script src="js/vue.js"></script>
</head>
<body>
<div app>
    <form class="first-step" @submit="section" novalidate>
        <div class="field" v-if="step === 0">
            <input type="email" name="email" id="email" v-model="email" @change="reset">
            <label for="email">Email</label>
            <div class="error" v-show="eError">{{eError.message}}</div>
        </div>
        <div class="field">
            <input type="password" name="pass" id="pass" v-model="pass" @change="reset">
            <label for="pass">Password</label>
        </div>
        <input type="submit" value="Sign up">
    </form>
    <div>Already have a account? <a href="./login.html">login</a></div>
</div>
<script src="./js/firebase.js"></script>
<script>
    // Initialize Firebase
    firebase.initializeApp({
        apiKey: "AIzaSyCvQsCk3lzrl10mA-Eok-zzHClQWy4rEkY",
        authDomain: "my-awesome-othello-project.firebaseapp.com",
        databaseURL: "https://my-awesome-othello-project.firebaseio.com",
        projectId: "my-awesome-othello-project",
        storageBucket: "my-awesome-othello-project.appspot.com",
        messagingSenderId: "989403460699",
    })
</script>
<script src="js/signup.js"></script>
</body>
</html>